<ion-header>
  <ion-navbar>
    <ion-title>
      Véi Zuza App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="botoes">
    <button ion-button outline full (tap)="iniciar()"  [ngClass]="{'ativo': iniciado }">Iniciar</button>
    <button ion-button outline full (tap)="parar()" [ngClass]="{'ativo': !iniciado }">Parar</button>
    <button ion-button outline full (tap)="presentPrompt()">Config</button>
  </div>

  <ion-scroll scrollX="false" scrollY="true" zoom="false">
    <ion-list>
      <ion-item *ngFor="let c of capturas; let i = index">
        <ion-thumbnail item-start>
          <img [src]="c.foto">
        </ion-thumbnail>
        <h2>{{c.placa}}</h2>
        <p>{{c.data}}</p>
        <button ion-button clear item-end (click)="ver(i)">ver</button>
      </ion-item>
    </ion-list>
  </ion-scroll>

</ion-content>
