page-home {
    h1 {
        font-size: 4.6rem;
    }
    .botoes {
        display: flex;
        justify-content: space-between;
    }
    .foto {
        height: auto;
        width: 100%;
        margin: 0px 3px;
        border: 1px solid black;
    }
    ion-scroll {
        border: 1px solid lightgray;
        height: 90%;
    }
    .ativo {
        background-color: paleturquoise;
    }
}
