<ion-content>
    <div *ngIf="img">
        <div class="header">
            <h1 text-center>{{img.placa}}</h1>
            <div class="close_profile">
                <button ion-button clear (click)="fechar()">
                    <ion-icon name="md-close"></ion-icon>
                </button>
            </div>
        </div>
        <div class="dados">
            <img class="foto" [src]="sanitizer.bypassSecurityTrustResourceUrl(img.foto)" />
        </div>
    </div>
</ion-content>