page-visualizar {
    background-color: rgba(0, 0, 0, 0.8);
    .content {
        top: 6%;
        left: 5%;
        width: calc(100% - 10%);
        height: 75%;
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    .header {
        min-height: 35px;
        max-height: 35px;
        h1 {
            margin: 0;
            font-weight: 500;
            line-height: 0;
            padding-top: 2rem;
        }
        button {
            position: absolute;
            right: -3px;
            top: -3px;
            color: black;
        }
    }
    .dados {
        margin: 10px;
        width:calc(100% - 20px);;
        height: 25em;
        display:flex;
        justify-content:center;
        align-items:center;
        .foto {
            object-fit: contain;
            height: 25em;
        }
    }
}